@charset "utf-8";

/* CSS Document */

body,
ul,
ol,
li,
p,
dl,
dt,
dd,
input,
form,
h1,
h2,
h3,
h4,
h5,
h6,header,article {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    color: #888;
    font-size: 12px;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #000;
}

input:focus {
    outline: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.abs {
    position: absolute
}

.rel {
    position: relative
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.blue {
    color: #28A0F0;
}


/* section begin */

section {
    font-family: "楷体";
}
header{
    color: #fff;}

/*header begin*/

section header {
    height: 50px;
    width: 100%;
    background: #1983D1;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
}


/*header end*/


/* article begin */

article {
    height:100%;
    padding-top: 49px;
    padding-bottom: 50px;
    background:#EDEDED;
}


/* article end */


/* footer begin */

section footer {
    font-size: 0.7em;
    height: 50px;
    width: 100%;
    background: #FAFBFD;
    border-top: 1px solid #E7E7E9;
    position: fixed;
    bottom: 0;    
    z-index:999;
}

section footer div {
    width: 25%;
    text-align: center;
    float: left;
}

section footer div ul {
    width: 100%;
    text-align: center;
    float: left;
}

section footer div ul.pic {
    padding-top: 7px;
    height: 23px;
}

section footer div ul.wd {
    height: 20px;
    line-height: 25px;
}

section footer img {
    height: 25px;
}


/* footer end */


/* section end */
